<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
  <div class="container mt-3">
    <div class="row justify-content-left">
      <h2>게시판</h2>
    </div>
    <div class="row px-3 justify-content-center">
      <table class="table col-10 pt-3">
        <tr>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성 일시</th>
          <th scope="col">조회수</th>
        </tr>
        <tr th:each="board:${boardPage.getContent()}">
          <td><a th:href="@{'/board/' + ${board.id} + '?page=' + ${boardPage.getNumber()}}" th:text="${board.title}">Title</a></td>
          <td th:text="${board.getAccount().getUsername()}"></td>
          <td th:text="${board.createdDate}"><`/td>
          <td th:text="${board.view}"></td>
        </tr>
      </table>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!boardPage.hasPrevious()}? disabled">
              <a th:href="@{'/board?page=' + ${boardPage.getNumber() - 1}}"
                 class="page-link" tabindex="-1" aria-disabled="true">
                Previous
              </a>
            </li>
            <li class="page-item" th:classappend="${i == boardPage.getNumber()}? active"
                th:each="i: ${#numbers.sequence(0, boardPage.getTotalPages() - 1)}">
              <a th:href="@{'/board?page=' + ${i}}"
                 class="page-link" href="#" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${!boardPage.hasNext()}? disabled">
              <a th:href="@{'/board?page=' + ${boardPage.getNumber() + 1}}"
                 class="page-link">
                Next
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" th:onclick="|location.href='@{'/new-post'}'|" class="btn btn-primary">새글 작성하기</button>
    </div>
  </div>
  <footer th:replace="header-footer.html :: footer"></footer>
  <script th:replace="fragments.html :: date-time"></script>
</script>
</body>
</html>