<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>게시물 등록하기</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{/new-post}" th:object="${boardForm}" method="post" novalidate>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control"
                           placeholder="제목" aria-describedby="titleHelp" required max="50">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>
                <!-- Todo: 게시판별 분류 -->
                <div class="form-group">
                    <label for="description">내용</label>
                    <textarea id="description" type="textarea" th:field="*{content}" class="editor form-control"
                              placeholder="게시글 내용을 입력해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                    <small class="invalid-feedback">게시글 내용을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">FullDescription Error</small>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">등록하기</button>
                </div>
            </form>
        </div>

        <div class="fragments.html :: footer"></div>
    </div>
    <footer th:replace="header-footer.html :: footer"></footer>
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: editor-script"></script>
</body>
</html>