<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>

<body class="bg-light">
    <div class="container">

        <div class="row">
            <h2 class="col-12">관심있는 노선</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    태그를 입력하고 쉼표 또는 엔터를 입력하세요.
                </div>
            </div>
                <div id="whitelist" th:text="${whitelist}" hidden>
            </div>
            <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                   class="tagify-outside" aria-describedby="tagHelp">
            </div>
        </div>
    </div>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: update-tags(baseUrl='/settings/account/tags')"></script>
</body>
</html>