<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
  <div class="row mt-5 justify-content-center">
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
      <span th:text="${message}">메시지</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <h2 class="col-sm-12" >비밀번호 변경 이메일 전송</h2>
    </div>
    <form class="needs-validation col-sm-6" action="#" th:action="@{/lost-password}" th:object="${passwordResetRequestForm}" method="post" novalidate>
      <div class="form-group">
        <label for="email">이메일</label>
        <input id="email" type="text" name="email" class="form-control" th:field="*{email}"
               placeholder="your@email.com" aria-describedby="emailHelp" required>
        <small class="invalid-feedback">본인 계정의 이메일을 입력하세요.</small>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block" type="submit"
                aria-describedby="submitHelp">비밀번호 재설정 이메일 보내기</button>
      </div>
  </div>
</body>
<body>

</body>
</html>