<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
  <div class="container">
    <div class="container mt-3">
      <div class="row justify-content-left">
        <h2>버스 노선 목록</h2>
      </div>
      <!-- TODO: 검색창 추가예정 -->
      <div class="row font-weight-light" th:if="${#lists.isEmpty(routes)}">
        등록된 노선이 없습니다.
      </div>
      <div class="row justify-content-center" th:if="${!#lists.isEmpty(routes)}" >
        <table class="table col-10 pt-3">
          <tr>
            <th scope="col">지역</th>
            <th scope="col">노선번호</th>
            <th scope="col">운송회사</th>
            <th scope="col">최종 수정 일시</th>
          </tr>
          <tr th:each="r:${routes}">
                <td th:text="${r.city}"></td>
                <td><a th:href="@{'/route/' + ${r.id}}" th:text="${r.title}">Title</a></td>
                <td th:text="${r.operator}"></td>
                <td th:text="${r.publishedDateTime}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <footer th:replace="header-footer.html :: footer"></footer>
  <script th:replace="fragments.html :: date-time"></script>
</body>
</html>