<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
    <div class="container">
        <div class="row pt-4 text-left justify-content-center">
            <div class="col-6">
                <a href="#" class="text-decoration-none pt-3 pb-3 " th:href="@{'/route/' + ${path}}">
                    <span class="h2" th:text="${busRoute.title}">노선명</span>
                </a>
            </div>
            <div class="col-4 text-right justify-content-end">
                <p>Last Updated:
                    <span class="date-weekday-time" .fromNow th:text="${busRoute.getPublishedDateTime()}">1 min</span>
                </p>
                <span sec:authorize="isAuthenticated()" th:if="!${busRoute.isMemberWatching(#authentication.principal)}"
                      class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/route/' + ${path} + '/addWatchList'}">
                        관심 노선 추가
                    </a>
                    <a class="btn btn-outline-primary" th:text="${busRoute.watchers.size()}">1</a>
                </span>
                <span sec:authorize="isAuthenticated()"
                      th:if="${busRoute.isMemberWatching(#authentication.principal)}" class="btn-group" role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/route/' + ${path} + '/removeWatchList'}">
                        관심 노선 삭제
                    </a>
                    <a class="btn btn-outline-primary" th:text="${busRoute.watchers.size()}">1</a>
                </span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <p>
                    <span th:each="tag: ${busRoute.tags}"
                          class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="row px-3 justify-content-center">
            <table class="table" style="width:25%">
                <tr>
                    <th scope="row">노선 번호</th>
                    <td th:text="${busRoute.routeNumber}">Mark</td>
                </tr>
                <tr>
                    <th scope="row">운수회사</th>
                    <td th:text="${busRoute.operator}">Jacob</td>
                </tr>
                <tr>
                    <th scope="row">지역</th>
                    <td th:text="${busRoute.city}">Larry</td>
                </tr>
                <tr>
                    <th scope="row">종별</th>
                    <td th:text="${busRoute.routeType}">Larry</td>
                </tr>
                <tr>
                    <th scope="row">상태</th>
                    <td th:if="${busRoute.routeStatus == T(com.bustime.module.route.RouteStatus).ACTIVE}">최신 상태</td>
                    <td th:if="${busRoute.routeStatus==T(com.bustime.module.route.RouteStatus).OUTDATED}">오래된 정보</td>
                    <td th:if="${busRoute.routeStatus==T(com.bustime.module.route.RouteStatus).CLOSED}">폐선/운행 중단</td>
                </tr>
            </table>
        </div>
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:utext="${busRoute.description}"></div>
        </div>
        <div class="row px-3 justify-content-center" sec:authorize="isAuthenticated()" th:if="${busRoute.isManagedBy(#authentication.principal)}">
            <form action="#" th:action="@{'/route/' + ${path} + '/edit'}" method="get" novalidate>
                <button type="submit" class="btn btn-sm btn-secondary my-2">수정하기</button>
            </form>
            <form action="#" th:action="@{'/route/' + ${path} + '/tags'}" method="get" novalidate>
                <button type="submit" class="btn btn-sm btn-secondary my-2">태그 관리하기</button>
            </form>
            <form action="#" th:action="@{'/route/' + ${path} + '/delete'}" method="post" novalidate>
                <button type="submit" class="btn btn-sm btn-warning my-2">삭제하기</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()" th:if="!${busRoute.isManagedBy(#authentication.principal)}">
            <div class="row px-3 justify-content-center">
                <form action="#" th:action="@{'/route/' + ${path} + '/request-edit'}" method="get" novalidate>
                    <button type="submit" class="btn btn-sm btn-secondary me-2">수정 요청하기</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="header-footer.html :: footer"></footer>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script th:replace="fragments.html :: date-time"></script>
</body>
</html>