<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '게시글의 내용을 입력해 주세요.',
                tabsize: 2,
                height: 300
            });
        });
    </script>
</div>

<script type="application/javascript" th:fragment="form-validation">
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="update-tags (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            function tagRequest(url, tagTitle) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'tagTitle': tagTitle})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
                alert("Tag added, please refresh.")
                tagify.input.set.call(tagify);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");
            var tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown : {
                    enabled: 1, // suggest tags after a single character input
                } // map tags
            });
            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</div>

<!-- 시간 변환 fragment -->
<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>

<div th:fragment="comment(path)">
    <div class="row px-3 justify-content-center pt-3 pb-3" th:if="${comments.isEmpty()}">
        <small class="col-10">작성된 댓글이 없습니다.</small>
    </div>
    <div class="row px-3 pt-3 pb-3 " th:if="!${comments.isEmpty()}" th:each="c:${comments}" th:id="comment+${c.getId()}">
        <div class="bg-white">
            <div class="col-8 text-left justify-content-left">
                <span th:text="${c.getAccount().getUsername()}">Author</span> |
                <span class="date-weekday-time" .fromNow th:text="${c.getCreatedDate()}"></span>
            </div>
            <div sec:authorize="isAuthenticated()" th:if="${c.isAuthor(#authentication.principal)}"
                     class="col-2 text-right justify-content-end">
                <button type="submit" class="btn btn-sm btn-success" th:onclick='go_to_modify_comment(${path},${c.getId()})'>수정</button>
                <form action="#" th:action="@{ ${path} + '/commnent-delete?cid='+${c.getId()}}" method="post" novalidate>
                    <button type="submit" class="btn btn-sm btn-warning">삭제</button>
                </form>
            </div>
            <div class="col-10 text-left" th:text="${c.getComment()}">Comment Text</div>
        </div>
    </div>

    <!-- 댓글 작성 창-->
    <div sec:authorize="isAuthenticated()" class="">
        <form class="needs-validation" th:action="@{ ${path} + '/new-comment'}" th:object="${commentForm}" method="post" novalidate>
            <div class="row px-3 justify-content-center">
                <textarea id="comment" type="textarea" th:field="*{comment}"
                              class="form-control col-10 pt-3 pb-3"  maxlength="250"
                              placeholder="250자 내에서 댓글을 입력해 주세요." aria-describedby="shortDescriptionHelp" required></textarea>
                <div class="col-10 text-right justify-content-end">
                    <button type="submit" class="btn btn-sm btn-success">등록</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ul th:fragment="notification-list (notifications)" class="list-group list-group-flush">
    <a href="#" th:href="@{${noti.link}}" th:each="noti: ${notifications}"
       class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <small class="text-muted" th:text="${noti.title}">Noti title</small>
            <small class="fromNow text-muted" th:text="${noti.createdDateTime}">3 days ago</small>
        </div>
        <p th:text="${noti.message}" class="text-left mb-0 mt-1">message</p>
    </a>
</ul>

</html>