<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header-footer.html :: head"></head>
<nav th:replace="navbar.html :: navbar"></nav>
<body class="bg-light">
    <div class="container">
        <div class="row px-3 my-3 justify-content-center">
            <h2 class="col-10">수정 요청</h2>
            <table class="table col-10">
                <tr>
                    <th scope="row">요청 노선 번호</th>
                    <td th:text="${request.getRoute().getTitle()}" th:href="@{'/route/' + ${request.route.path()}}">RouteNumber</td>
                </tr>
                <tr>
                    <th scope="row">요청자</th>
                    <td th:text="${request.getAccount().getUsername()}">RouteNumber</td>
                </tr>
                <tr>
                    <th scope="row">요청 일시</th>
                    <td th:text="${request.getCreatedDate()}">RouteNumber</td>
                </tr>
                <tr>
                    <th scope="row">상태</th>
                    <td th:if="${request.status==T(com.bustime.module.route.request.RouteEditRequestStatus).RECIEVED}">접수됨</td>
                    <td th:if="${request.status==T(com.bustime.module.route.request.RouteEditRequestStatus).REVIEWING}">검토중</td>
                    <td th:if="${request.status==T(com.bustime.module.route.request.RouteEditRequestStatus).DONE}">완료</td>
                    <td th:if="${request.status==T(com.bustime.module.route.request.RouteEditRequestStatus).DENIED}">거부됨</td>
                </tr>
            </table>
        </div>
        <div class="row px-3 my-3 justify-content-center">
            <h3 class="col-10">요청 내용</h3>
            <div class="col-10" th:utext="${request.description}"></div>
        </div>
        <div class="row px-3 my-3 justify-content-center">
            <h3 class="col-10">답변</h3>
            <div class="col-10" th:utext="${request.response}"></div>
        </div>

        <div class="row px-3 justify-content-center" sec:authorize="isAuthenticated()" th:if="${request.getRoute().isManagedBy(#authentication.principal)}">
            <form action="#" th:action="@{'/edit-request/' + ${path} + '/response'}" method="get" novalidate>
                <button type="submit" class="btn btn-sm btn-outline-secondary me-2">답변하기</button>
            </form>
        </div>
    </div>

    <footer th:replace="header-footer.html :: footer"></footer>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>